.QuizSetting{
    display:flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    padding:3em;
    height:45vh;
    width:50vw;
    background:white;
    
}
p{
    color:black;
    font-family:'Lora',serif;
}