@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora&display=swap');
.footer{
    position:absolute;
    top:93vh;
    width:100vw;
    height:7vh;
    background:rgb(148,0,211);
    position:fixed;    

}
h3{
    color:white;
    font-family: 'Lora',serif;
    text-align: center;
}