@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.Main-Heading{
   display:flex;
   align-items: center;
   justify-content: center;
   margin:auto;
   padding:0.01px; 
}
h1{
    color:rgb(216, 65, 5);
    letter-spacing: 2vw;
    font-family: 'Lora',serif;
}
h2{
    color:rgb(83, 32, 165);
    font-family: 'Lora',serif;
    padding: 5px 25px 5px 5px;
    margin-block-start: 0.23em;
    margin-block-end: 0.23em;

}
.Message{
    margin:5px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.temporary{
    color: red;
   
}